@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  html {
    @apply text-[14px] md:text-[16px] 3xl:text-[18px] scrollbar-none;
  }
  body {
    @apply antialiased font-medium transition duration-300 
		text-stone-900 bg-primary-50 
		selection:bg-primary-200 selection:text-stone-800;
  }
}

@layer components {
  .app-container {
    @apply px-5 md:px-16 lg:px-24 xl:px-32 2xl:px-56 3xl:px-80;
  }

  .scrollbar-none::-webkit-scrollbar {
    @apply w-0 h-0;
  }
  .scrollbar::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-stone-100 dark:bg-stone-800;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary-400 hover:bg-primary-500;
  }
}
